:root {
  --main-text-color: #212121;
  --main-bg-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --grid-list-item-margin: 15px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  margin: 0;
  padding: 94px 0;
}
/* index.html */
/* Шапка */
.header {
  border-bottom: 1px solid #ececec;
  margin: 0;
  padding: 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo__span {
  color: var(--accent-color);
}
.navigation {
  margin: 0 0 0 93px;
}
.navigation__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navigation__item {
  position: relative;
  margin: 0 50px 0 0;
}
.navigation__item:last-child {
  margin: 0;
}
.navigation__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 2px;
  opacity: 0;
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link--current,
.navigation__link--current::after {
  color: var(--accent-color);
  opacity: 1;
}
.header-contacts__list {
  list-style: none;
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
}
.header-contacts__item {
  margin: 0 50px 0 0;
}
.header-contacts__item:last-child {
  margin: 0;
}
.header-contacts__link {
  display: flex;
  align-items: center;
  padding: 31px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__icon {
  display: block;
  margin: 0 10px 0 0;
}
.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
/* Головний контент сторінки index.html */
/* Секція-Герой */
.section-hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/index/bg-Img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-hero__title {
  max-width: calc(100% / 1.72);
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}
.main-button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  background: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background: #188ce8;
}
/* Секція-Переваги */
.advantages {
  padding: 94px 0 47px 0;
}
.advantages-set {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(-1 * var(--grid-list-item-margin));
  padding: 0;
}
.advantages__item {
  margin: var(--grid-list-item-margin);
  max-width: calc(100% / 4 - (2 * var(--grid-list-item-margin)));
}
.advantages__thumb {
  height: 120px;
  margin: 0 0 30px 0;
  padding: 25px 0;
  background: #f5f4fa;
  border-radius: 4px;
}
.advantages__icon {
  display: block;
  margin: 0 auto;
}
.advantages__label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin: 0;
}
/* Заголовки двох секцій "Що ми робимо" та "Наша команда" */
.section__title {
  margin: 0 0 50px 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Секція-Що ми робимо */
.about-us {
  padding: 47px 0 94px 0;
}
.about-us-set {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(-1 * var(--grid-list-item-margin));
  padding: 0;
  list-style: none;
}
.about-us__item {
  margin: var(--grid-list-item-margin);
  max-width: calc(100% / 3 - (2 * var(--grid-list-item-margin)));
}
.about-us__thumb {
  position: relative;
}
.about-us__iamge {
  display: block;
  max-width: 100%;
  align-self: center;
}
.about-us__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 27px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
  background: rgba(47, 48, 58, 0.8);
}
/* Секція-Наша команда */
.our-team {
  background: #f5f4fa;
}
.our-team-cards-set {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(-1 * var(--grid-list-item-margin));
  padding: 0;
}
.our-team__card {
  margin: var(--grid-list-item-margin);
  max-width: calc(100% / 4 - (2 * var(--grid-list-item-margin)));
  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__image {
  display: block;
  max-width: 100%;
  margin: 0;
}
.our-team__label {
  margin: 0;
  padding: 30px 32px;
}
.our-team__name {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team__job {
  margin: 0 0 16px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.socials {
  display: flex;
  margin: -5px;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.socials__item {
  margin: 5px;
}
.socials__link {
  display: block;
  margin: 0;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon {
  display: block;
}
.socials__link:hover,
.socials__link:focus {
  background: var(--accent-color);
  fill: var(--main-bg-color);
}
/* Секція-Постійні клієнти */
.clients-set {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc(-1 * var(--grid-list-item-margin));
  padding: 0;
  list-style: none;
}
.clients__item {
  margin: var(--grid-list-item-margin);
  width: calc(100% / 6 - (2 * var(--grid-list-item-margin)));
}
.clients__link {
  display: flex;
  height: 90px;
  margin: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo {
  display: block;
}
.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* portfolio.html*/
/* Секція-Фільтри */
.filter-set {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
}
.filter-set__item {
  margin: 0 9px 0 0;
  padding: 0;
}
.filter-set__item:last-child {
  margin: 0;
}
.filter-button {
  display: block;
  padding: 6px 22px;
  cursor: pointer;
  background: #f5f4fa;
  color: inherit;
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Секція-Наші продукти */
.products-set {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: calc(-1 * var(--grid-list-item-margin));
  padding: 0;
  list-style: none;
}
.products__card {
  margin: var(--grid-list-item-margin);
  max-width: calc(100% / 3 - (2 * var(--grid-list-item-margin)));
}
.products__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__thumb {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.products__image {
  display: block;
  align-items: center;
  max-width: 100%;
}
.products__overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__label {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.products__title {
  margin: 0 0 4px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.products__text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.products__link:hover,
.products__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.products__link:hover .products__overlay,
.products__link:focus .products__overlay {
  opacity: 1;
  transform: translateY(0);
}
/* Підвал */
.footer {
  background-color: #2f303a;
  margin: 0;
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin: 0 0 20px 0;
  color: var(--main-bg-color);
}
.address__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.address__item {
  color: var(--main-bg-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address__item {
  margin: 0 0 9px 0;
}
.address__item:last-child {
  margin: 0;
}
.address__text {
  margin: 0;
}
.address__link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-socials-container {
  margin: 0 0 0 70px;
  align-items: center;
  justify-content: flex-start;
}
.container__title {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}
.footer-socials__link {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--main-bg-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__link:hover,
.footer-socials__link:focus {
  background: var(--accent-color);
}
.footer-form-container {
  display: block;
  width: 570px;
  margin: 0 0 0 auto;
}
.footer-form {
  display: flex;
  align-items: center;
}
.footer-form__input {
  display: block;
  padding: 15px 16px;
  width: 100%;
  margin: 0 12px 0 0;
  color: var(--main-bg-color);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form__input:placeholder-shown {
  color: rgba(255, 255, 255, 0.6);
}
.footer-submit-button {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer-submit-button__icon {
  display: block;
  margin: 0 0 0 10px;
  fill: var(--main-bg-color);
}
/* Бекдроп */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
/* Модальне вікно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: 581px;
  width: 528px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Форма */
.modal-form {
  margin: 0;
  padding: 40px;
}
.modal-form__title {
  display: block;
  margin: 0 0 12px 0;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.modal-form__field {
  position: relative;
  display: flex;
  margin: 0 0 10px 0;
  flex-direction: column;
}
.modal-form__label {
  margin: 0 0 4px 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal-form__input {
  height: 40px;
  padding: 0 0 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon {
  position: absolute;
  display: block;
  top: 29px;
  left: 12px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment {
  margin: 0 0 20px 0;
}
.modal-form__text-area {
  display: block;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__text-area:placeholder-shown {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0 30px 0;
  padding: 0 12px;
}
.agreement__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
}
.agreement__icon {
  display: block;
  margin: 0 7px 0 0;
  padding: 0;
  background-color: transparent;
  fill: transparent;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    backgroung-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement__label {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.agreement__link {
  color: var(--accent-color);
}
.modal-form__field:hover .modal-form__input {
  border: 1px solid var(--accent-color);
}
.modal-form__field:hover .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__input:focus,
.modal-form__text-area:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}
.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
}
.agreement__checkbox:checked + .agreement__icon {
  background-color: var(--accent-color);
  fill: var(--main-bg-color);
  border: transparent;
}
.modal-submit-button {
  padding: 10px 55px;
}
/* Кнопка "закрити" */
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button__icon {
  display: block;
}
.close-button:focus,
.close-button:hover {
  fill: var(--accent-color);
}
